<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TapPy</title>
	</head>
	<body>
		<div style="text-align:center;">
		<iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="460" id="talk_frame_349106" mozallowfullscreen="true" src="http://speakerdeck.com/player/3d68d044097f40609ffda61779494591" style="border:0; padding:0; margin:0; background:transparent;" webkitallowfullscreen="true" width="710"></iframe>`
		<h1><a href="https://idxfellows2016b.slack.com/messages/tappy/">Slack channel to demo TapPy</a><br></h1>
		<h1><a href="https://github.com/gnatman/TapPy">TapPy's Github Project Page</a></h1>
		</div>
	</body>
</html>